/* You can add global styles to this file, and also import other style files */
// styles.scss（全体共通）

:root {
    --color-text-main: #333;
    --color-text-sub: #444;
    --color-primary: #0d6efd;
    --color-bg-main: #ffffff;
    --color-bg-soft: #f3f4f6;
    --color-border: #ddd;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.7;
    background-color: var(--color-bg-main);
    color: var(--color-text-main);
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    line-height: 1.2;
}

a {
    color: var(--color-primary);
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
        filter: brightness(90%);
    }
}

.footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 1.5rem 0;
    font-size: 0.9rem;
    color: #777;
    margin-top: 5rem;
}

html {
    scroll-behavior: smooth;
}

/* 全セクション共通のパディング */
section {
    padding: 5rem 2rem;
}

/* モバイル用調整 */
@media (max-width: 768px) {

    body {
        font-size: 15px;
    }

    section {
        padding: 3rem 1.5rem;
    }

    .project-card {
        padding: 1rem;
    }

    .contact-links a {
        font-size: 1rem;
        padding: 0.75rem 1.5rem;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }
}